{
    "serviceAccount": [
        {
            "project":"",
             "service": [
                {
                    "name": "<service name>",
                    "file": "<service account key json file>"                 
                }
            ]
        }
    ]
}